<a href="https://colab.research.google.com/github/a193199/Estudos/blob/main/sklearn_1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados=pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
dados[["home","how_it_works","contact"]]

    home  how_it_works  contact
0      1             1        0
1      1             1        0
2      1             1        0
3      1             1        0
4      1             1        0
..   ...           ...      ...
94     0             0        1
95     1             1        1
96     0             0        1
97     0             1        0
98     0             0        0

[99 rows x 3 columns]

In [ ]:
mapa={"home" : "principal", "how_it_works":"como_funciona","contact":"contato","bought":"comprou"}
dados=dados.rename(columns=mapa)

In [ ]:
x=dados[["principal","como_funciona","contato"]]
y=dados["comprou"]
print(y)

0     0
1     0
2     0
3     0
4     0
     ..
94    0
95    1
96    0
97    0
98    0
Name: comprou, Length: 99, dtype: int64

In [ ]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [ ]:
##separar dados de treino e teste
##sempre separar para não enviesar o resultado
dados.shape
##(linhas,colunas)

(99, 4)

In [ ]:
treino_x=x[:75]
treino_y=y[:75]
teste_x=x[75:]
teste_y=y[75:]

print("Treinaremos com %d elementos e testaremos com %d elemento" % (len(treino_x),len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elemento

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
modelo = LinearSVC()
modelo.fit(treino_x,treino_y)
previsoes=modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)*100
print("A acuracia foi %.2f%%" % acuracia)

A acuracia foi 95.83%

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

treino_x, teste_x, treino_y, teste_y=train_test_split(x,y,test_size=0.25)
print("Treinaremos com %d elementos e testremos com %d elementos" % (len(treino_x),len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x,treino_y)
previsoes=modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)*100
print("A acuracia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testremos com 25 elementos
A acuracia foi 96.00%

In [ ]:
##tornar o experimento replicável -> definir um número inicial para a geração aleatória
##tirando aleatoriedade entre treino e teste:

from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED=20

treino_x, teste_x, treino_y, teste_y=train_test_split(x,y,random_state=SEED,test_size=0.25)
print("Treinaremos com %d elementos e testremos com %d elementos" % (len(treino_x),len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x,treino_y)
previsoes=modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)*100
print("A acuracia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testremos com 25 elementos
A acuracia foi 96.00%

In [ ]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [ ]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

In [ ]:
#não está proporcional a relação treino/teste em relação a quem comprou
##manter a mesma proporção

##tornar o experimento replicável -> definir um número inicial para a geração aleatória
##tirando aleatoriedade entre treino e teste:

from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED=20

treino_x, teste_x, treino_y, teste_y=train_test_split(x,y,random_state=SEED,test_size=0.25,
                                                                  stratify=y)
print("Treinaremos com %d elementos e testremos com %d elementos" % (len(treino_x),len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x,treino_y)
previsoes=modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)*100
print("A acuracia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testremos com 25 elementos
A acuracia foi 96.00%

In [ ]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [ ]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64